[2020-01-29 02:39] mattmoor opened #3 "Separate contour and net-contour yamls."
When we release things, these should be separate artifacts.

[2020-01-29 21:58] mattmoor opened #9 "Get nightly releases working"

[2020-01-29 21:59] mattmoor opened #10 "Adjust the Contour "classes" to avoid colliding with pre-existing installations."

[2020-01-29 21:59] mattmoor opened #11 "Guide on net-contour with pre-existing Contour install"

[2020-01-29 22:02] mattmoor opened #12 "TestUpdate is pretty flaky"

[2020-01-29 22:02] mattmoor opened #13 "scale-100 is pretty flaky"

[2020-01-29 23:17] mattmoor commented on #12
See also: https://github.com/projectcontour/contour/issues/2151

[2020-02-05 05:30] mattmoor commented on #9
/assign

[2020-02-05 14:32] #9 closed

[2020-02-06 16:01] mattmoor commented on #3
these are split in the nightly release

[2020-02-06 16:01] #3 closed

[2020-02-07 00:57] jpeach opened #20 "Guide on deploying Contour in multiple namespaces"
The current deployment YAML creates 2 Contour deployments in the same namespace. A different approach is to keep them in separate namespaces (e.g. projectcontour-internal and projectcontour-external), which has the benefit that you can generate separate TLS keys for the xDS session.

Here's a worked example using kustomize:

https://github.com/jpeach/kustomize/tree/master/knative/configurations/co

[2020-02-20 17:14] #10 closed

[2020-03-05 19:41] bryanl opened #53 "contour ClusterRoleBinding is duplicated"
In https://github.com/knative/net-contour/releases/download/v0.13.0/contour.yaml, ClusterRoleBinding `contour` is duplicated. This doesn't break `kubectl` but will trip up tools like helm and kapp.

I believe these should be combined.

[code]

[2020-03-05 23:51] tanzeeb opened #54 "Implement Tag Header Based Routing"
See [proposal](https://docs.google.com/document/d/12t_3NE4EqvW_l0hfVlQcAGKkwkAM56tTn2wN_JtHbSQ/edit?ts=5e6020fd#) and [Serving PR](https://github.com/knative/serving/pull/6036)

/assign

[2020-03-18 21:48] mattmoor opened #70 "TestVisibility hitting a number of connection refused errors"
With and without split:

[code]

@andrew-su are you up for taking a look (I think you added this test)?

[2020-03-19 13:36] andrew-su commented on #70
/assign

[2020-03-20 16:43] andrew-su commented on #70
From our investigation, when the ingress has no external traffic configured it seems to refuse connections to port 80 of the ingress.

When this is run as part of the test suite, depending on the parallel tests running there may be a publicly exposed knative ingress resource thus opening port 80 for connection. When running the test by itself, it has a much higher chance of exhibiting the above be

[2020-03-20 17:49] mattmoor commented on #70
So is the problem that it doesn’t fail the way it “should”?  Isn’t this a perfectly acceptable failure mode?  Test bug?

[2020-03-20 18:22] andrew-su commented on #70
Right, the check is not failing the way it should because we were expecting the ingress to respond with a 404 but got a connection refused. This is an acceptable failure in the eyes of the test (not handled). However, the error comes from the client being unable to connect to the envoy proxy since the proxy itself doesn't listen on port 80 if it doesn't have anything to proxy to.

The error of con

[2020-03-20 20:23] mattmoor commented on #70
What is the type of the error?  `Infof("%T", err)`?

I'm wondering if we can check for something like `if _, ok := err.(*net.OpError); ok { // fine`

[2020-03-28 16:31] mattmoor commented on #70
IIUC we will need to update-deps and remove the `V` from our `Test[^UV]` line, right?

[2020-03-28 19:25] andrew-su commented on #70
Yup. (Also, what does `IIUC` stand for?)

[2020-03-28 20:08] mattmoor commented on #70
If I Understand Correctly (I also use IIRC a lot, which is "Recall").  Sorry 😬

[2020-04-02 16:14] andrew-su commented on #70
Thanks!

Closing because PR is accepted.

/close

[2020-04-02 16:14] #70 closed

[2020-04-12 13:39] mattmoor commented on #70
We never removed the test skip.  Sent a PR 😅

[2020-04-13 14:09] mattmoor commented on #53
Fixed!

[2020-04-13 14:09] #53 closed

[2020-04-13 14:10] mattmoor commented on #20
We do this now by default, I think more than this should fall on the guide for configuring this for use with your own Contour.

[2020-04-13 14:10] #20 closed

[2020-04-13 14:11] mattmoor opened #102 "Add wait_until_service_has_external_ip in e2e-common"
Serving has:
[code]

[2020-04-13 16:00] #102 closed

[2020-05-09 07:02] tanzeeb commented on #54
(Comment in proposal, reposted here)

The overall approach for tag headers will work for Contour, but there are a few things in the specification that net-contour cannot support:

1. Regex based matching is not supported Contour. Since it looks like regex is only used with the value ".*".

2. The error handling, as specified, won't work with our reconciler as it will not create an HTTPProxy for se

[2020-06-02 01:54] dprotaso opened #134 "scripts that use yq may not use the vendored version"
I have an older yq (2.4) through `brew` and it was producing a different ordering of the yaml.

We should use always use the vendored version for consistency.

[2020-06-24 16:12] #54 closed

[2020-07-21 01:57] mattmoor opened #159 "Simplify ReconcileKind"
I think this whole function can now be `reconcileProxies`?

https://github.com/knative-sandbox/net-contour/blob/402910314e57f42ab479c756ec93ce4fb42b0867/pkg/reconciler/contour/contour.go#L67-L77

cc @shashwathi @andrew-su

[2020-07-21 01:57] mattmoor commented on #159
/kind good-first-issue

[2020-07-21 23:25] mattmoor commented on #159
Looks like kingress isn't using the class annotation support 🤔

[2020-07-21 23:59] mattmoor commented on #159
/assign

[2020-07-22 16:53] mattmoor opened #165 "Guard DeleteCollection in Lister lookup"
_Relates to the ideas behind: https://github.com/knative/pkg/issues/1520_

We should not be making unguarded API calls during Reconciliation, otherwise resyncs become a "thundering herd" of API calls.  Here we have an unguarded DeleteCollection call, which *even if it deletes nothing* eats into our rate limit: https://github.com/knative-sandbox/net-contour/blob/434b08b5a1c88735ec2e886214448f3dbc8a

[2020-07-22 18:17] #159 closed

[2020-07-22 23:37] mattmoor commented on #165
/assign

[2020-07-23 05:00] mattmoor commented on #12
I believe that the linked PR works around the core issue with Contour here, but there are lingering issues in Knative that need to be addressed before this will pass reliably.

Tracing through the prober to understand how it was succeeding without having successfully probed, I noticed that it was actually abandoning probes due to 400s, which after peeling away at things turned out to be the issue

[2020-07-23 16:50] mattmoor commented on #12
I'm going to disable this test again since it seems to still fail more often than not.

[2020-07-23 19:21] #165 closed

[2020-07-24 16:53] mattmoor commented on #12
Here's a log dump from a failure during TestUpdate that shows the new endpoint probe becoming ready and things still failing when the new routing is rolled out after that...

[code]

[2020-07-24 17:16] mattmoor commented on #12
Looking through the Envoy logs for the latest iteration of this, I see:

[code]

I believe the `NR` status code here corresponds to the following Envoy status:

From [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#:~:text=NR%3A%20No%20route%20configured%20for,attempts%20(TCP)%20was%20reached.)

[2020-07-25 00:00] mattmoor commented on #12
Ok, so I have been digging through assorted logs trying to get a better handle on this, and I noticed an interesting correlation between the timestamp of a failure and some of the GRPC stream logging.

This is all foreign to me, but attempting to make some naive observations...  When we successfully transition from one service to the next, we see a set of `stream_wait` log statements for the new s

[2020-07-27 01:53] mattmoor opened #176 "TestRouteCreation still fails with 503s"
Looking through the Envoy debug logs for one of these failures, the 503 correlates with the following:
[code]

What's interesting is that this cluster is added to the Envoy pod serving the 503 at `00:12:09` (add) to `00:12:11` (remove).

Then it is added back at `00:12:13:593` (starts 10ms before the 503, but not done until 5ms after the 503).

What I find puzzling here is that the endpoint probe

[2020-07-27 01:59] mattmoor commented on #176
Key to debugging these things is focusing on the Envoy logs.  They should be set to debug here: https://github.com/knative-sandbox/net-contour/blob/d61a8cee37e4e14a1211456b1c9a3ae5774d394e/config/contour/external.yaml#L1787

The jumping off point for `503`s is to search for a `503 NR` (generally ignore the `/healthz` requests with `K-Network-Probe`, these are our readiness probes).  You can then l

[2020-08-04 21:32] mattmoor opened #182 "Support static TLS wildcards in net-contour"
Ideally we'd have a story similar to [this](https://knative.dev/docs/serving/using-a-tls-cert/#manually-adding-a-tls-certificate) for Contour.

[2020-08-04 21:33] mattmoor commented on #182
One option would be to support identifying a static certificate in config-contour to fallback on when no TLS certificate is specified.

[2020-08-05 06:21] jpeach commented on #182
I think that if possible, it would be preferable for net-contour to support [auto-TLS](https://knative.dev/docs/serving/using-auto-tls/) for Knative Services. Watch out for using wildcard certificates with HTTP/2 (see the Contour 421 [FAQ](https://projectcontour.io/resources/faq/).

[2020-08-05 17:10] mattmoor commented on #182
@jpeach it already supports auto-TLS with various cert provisioning schemes.  This is specifically around byo-certificates in the knative use case.

[2020-08-06 00:37] #176 closed

[2020-08-07 13:22] almottier commented on #182
Would be much appreciated. That's the feature we are missing to switch from Istio.

[2020-08-07 13:59] mattmoor commented on #182
/assign @dprotaso

Dave said he'd take a look 🥳

[2020-08-07 15:53] dprotaso opened #188 "Ensure the TLS min version is 1.2"
The default is 1.1 which is deprecated & insecure

Details: https://github.com/projectcontour/contour/issues/2777

/kind good-first-issue

[2020-08-09 14:34] mattmoor commented on #13
No more 😎

[2020-08-09 14:34] #13 closed

[2020-08-09 14:35] mattmoor commented on #12
Alright, we've been running at 5x for a couple weeks now, and the only TestUpdate failures I can recall were all infra related (e.g. https://github.com/knative/test-infra/issues/2346).

[2020-08-09 14:35] #12 closed

[2020-08-09 14:43] mattmoor opened #189 "Intermittent 502 errors"
We will intermittently see a test failure with:

[code]

Examples [1](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1292304427645931520), [2](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1291972238853017601), [3](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continu

[2020-08-09 14:49] mattmoor commented on #189
I started a [thread](https://kubernetes.slack.com/archives/C8XRH2R4J/p1596913083017900) in K8s slack about configuring the Contour retry settings, which used to just be 5xx and @jpeach pointed me to some newly configurable RetryOn magic: https://projectcontour.io/docs/master/api/#projectcontour.io/v1.RetryPolicy

We may need to pick up a newer Contour version for this.

[2020-08-09 15:00] mattmoor commented on #189
This is the set net-istio used, which was copied/modified from Istio's defaults IIRC: https://github.com/knative-sandbox/net-istio/blob/933aa6c97f0fe73c7292e2aad9745da0fa6a6219/pkg/reconciler/ingress/resources/virtual_service.go#L40

cc @tcnghia

[2020-08-09 15:03] mattmoor commented on #189
Looks like we need to move to Contour 1.7 (latest) to get this.  We're pretty far behind that right now. 😬

[2020-08-09 15:34] mattmoor commented on #189
I wrote a hack to get 1.7 pulled in to check whether things break: https://github.com/knative-sandbox/net-contour/pull/190

If 1.7 is good, then we might consider pulling it in and playing with this setting next.

[2020-08-11 03:39] mattmoor opened #194 "Intermittent 404 errors"
Intermittently the `hosts/multiple` test will fails with:
[code]

examples: [1](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1292757413031579648), [2](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1293013890644316160)

[2020-08-11 03:53] mattmoor commented on #189
Actually `:53` is DNS.  Perhaps only net-contour sees this because it's the only kingress running conformance on hard mode... 🤔

[2020-08-11 04:10] mattmoor commented on #189
cc @tcnghia

Maybe we can harden against DNS failures by passing in the gateway's ClusterIP to use, or resolving the Cluster IP of the LB before reporting as ready in httpproxy.

[2020-08-11 15:48] mattmoor commented on #194
I think that having this will probably make tracking this down a bit easier: https://github.com/knative-sandbox/net-contour/pull/195

[2020-08-11 16:08] #182 closed

[2020-08-11 23:55] mattmoor commented on #194
Alrighty, I think I know what the problem here is, in a word: hubris 😅

tl;dr This is actually a test bug that was dislodged by running kingress 5x.

I happened to observe this running things locally:
[code]

Essentially, because we use fixed FQDNs [here](https://github.com/knative/networking/blob/55bc2d0807ca99f15d3976a6ed7c3a1fcc1251f0/test/conformance/ingress/hosts.go#L38-L43), when multiple in

[2020-08-12 00:12] #194 closed

[2020-08-12 21:03] mattmoor opened #202 "TestService 503"
I saw this on this CI run:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1293347337845870592

This is from the Envoy debug logs:
[code]

[2020-08-12 21:04] mattmoor commented on #202
Worth mentioning that the test failure was:

[code]

So pretty sure this is the request from the Envoy logs.

[2020-08-12 21:11] mattmoor commented on #202
Here are the Envoy logs (stderr) around the timestamp with the above:

[code]

[2020-08-12 21:14] mattmoor commented on #202
This has none of the obvious cluster churn that the previous 503s had, which is good, but means I'll need to learn some new tricks 🙃

[2020-08-12 21:30] mattmoor commented on #202
<100ms prior, I see the following successful request:
[code]

The Cluster is `serving-tests/service-dbokeomw-xckb4/80/da39a3ee5e`

[2020-08-12 21:38] mattmoor commented on #202
Ok, the next hit for this cluster name is:

[code]

It is unclear where in here or why this Cluster was dropped 🤔

[2020-08-13 00:15] mattmoor commented on #202
The logstream is too polluted due to the test name prefixing too many other tests.  I have sent a PR to rename the test, and I'll chase the next 503 repro that hits this: https://github.com/knative/serving/pull/9041

[2020-08-13 00:15] #202 closed

[2020-08-13 02:43] mattmoor commented on #189
closing in favor of upstream tracking issue: https://github.com/knative/networking/issues/87

[2020-08-13 02:43] #189 closed

[2020-08-13 04:53] mattmoor opened #203 "Avoid reprobing Ready kingress"
On each reconciliation we have an unguarded call to statusManager.IsReady here: https://github.com/knative-sandbox/net-contour/blob/c988b46b9ac4d89e869533a9cd9b4e0493c6c5ec/pkg/reconciler/contour/contour.go#L239

Generally this library call is idempotent and once the controller has reached a steady state it should be quite cheap, however, in the case of failovers, all existing keys must be probed

[2020-08-13 09:15] almottier opened #204 "Not parsing Default TLS Secret"
Hello, I am trying to use the new feature for the default TLS certificate but it looks it not parsing it correctly after I edit the configmap.

[code]

In my logs `DefaultTLSSecret` remains `nil`

[code]

Am I doing anything wrong ?

[2020-08-13 13:33] dprotaso commented on #204
let me take a look

[2020-08-13 13:54] dprotaso commented on #204
@almottier thanks for testing this out so quickly - apologies for mistake

[2020-08-13 15:09] almottier commented on #204
Nice, thank you @dprotaso 😄

[2020-08-13 15:09] #204 closed

[2020-08-13 16:13] mattmoor opened #207 "TestServiceCreateAndUpdate 503"
This is a continuation of the hunt started (and abandoned) here: https://github.com/knative-sandbox/net-contour/issues/202

On the nightly update PR for net-contour (https://github.com/knative/serving/pull/9049), the presubmit triggered the 503 here: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/9049/pull-knative-serving-contour-latest/1293910675055185920

[2020-08-13 16:29] mattmoor commented on #207
The failure message in the test:

[code]

[2020-08-13 17:06] mattmoor commented on #207
the only seemingly related 503 I could find in the Envoy logs was:

[code]

[2020-08-13 18:22] mattmoor commented on #207
Gonna punt on this again until we can quiet some of the test and infrastructure bugs.

[2020-08-13 18:22] #207 closed

[2020-08-15 19:04] mattmoor opened #211 "RewriteHost support"
We should be able to run this test:
https://github.com/knative/networking/blob/4b262113649d4621e23c7267cab998e75d3cba6a/test/conformance/ingress/run.go#L72

... it may entail making changes to the spec/feature itself, since what's there now is a bit odd.

[Here's a link](https://knative.slack.com/archives/CA9RHBGJX/p1597434975034100) to a slack conversation on this.

[2020-08-15 19:08] mattmoor commented on #211
See also: https://github.com/knative-sandbox/net-contour/pull/212

[2020-08-15 19:23] mattmoor commented on #211
I also started a thread about the possible use of HTTP Proxy's [include functionality](https://projectcontour.io/docs/master/httpproxy/#httpproxy-inclusion) to potentially achieve this here: https://kubernetes.slack.com/archives/C8XRH2R4J/p1597510151005000

The idea is that a RewriteHost rule would potentially lookup the HTTPProxy with the target hostname and include it to fully specify the resolu

[2020-08-15 20:01] mattmoor commented on #211
Related: https://github.com/knative/serving/issues/9074

[2020-08-16 14:32] mattmoor opened #214 "TestServiceCreateAndUpdate 503"
Continuation of #207 and #202.

Failed run: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1294948009766817792

[2020-08-16 14:33] mattmoor commented on #214
Failed probes:
[code]

[2020-08-16 14:51] mattmoor commented on #214
Here are the Envoy logs, with a tight window of 503s among 200s for the same Envoy pod:

[code]

`02:25.666Z` - 200
`02:25.677Z` - 503
`02:25.679Z` - 503
`02:25.750Z` - 200

So between 666 and 750, something was up with this Envoy...

[2020-08-16 15:03] mattmoor commented on #214
I see the debug logging for the successful request at `.666`:

[code]

This is followed by some sort of config update:

[code]

This is followed by the successful request at `.750`:
[code]

[2020-08-16 15:12] mattmoor commented on #214
Alright, so it looks like the request at `.666` was serviced by `serving-tests/service--55175a/80/da39a3ee5e`

This is destroyed during the blast of config information above:
[code]

Subsequent requests seem to get handled by `serving-tests/service--2dc410/80/da39a3ee5e`

Given the way the kingress endpoint probing works, I would have expected `serving-tests/service--2dc410/80/da39a3ee5e` to have

[2020-08-16 15:53] mattmoor commented on #214
It looks like there is an update to the main HTTP Proxy at `2020-08-16T11:02:25.662Z`:

[code]

As something a human can read:
[code]

[2020-08-16 16:03] mattmoor commented on #214
That this edit leads to the Cluster being deleted in Envoy is puzzling because at `02:26.208` the endpoint probe still has:
[code]

Perhaps the way these are coming through the HTTP Proxies is subtly different enough that they end up as distinct "Clusters"?

[2020-08-16 16:08] mattmoor commented on #214
Hmm, except I see the removed cluster coming back at `02:25.979`:
[code]

So it may also be that.  I'll keep looking at the net-contour logs.

[2020-08-16 16:52] mattmoor commented on #214
At `02:24.069` we see:
[code]

The message shows both services: `Endpoints probe will cover services: [service-create-and-update-usqjtxcc-7chwl service-create-and-update-usqjtxcc-dh74v]`

[2020-08-16 20:28] mattmoor commented on #214
So my working theory is that we get 503s because we reprogram the live routing before the endpoint probe has reported back as Ready, but the logging I'm reading through feels like it is missing lines because the first log line for a particular traceid feels like it should have been preceded by another log line for that traceid, but none exist (very frustrating).

Basically at `02:21` we see the en

[2020-08-17 02:14] mattmoor commented on #214
Asking in slack to see if I can get access to the GCP project and stackdriver logs, which might have some of the missing log lines.  I also landed some additional logging, so when this recurs we will have at least a little more information.

[2020-08-17 21:00] mattmoor commented on #214
Sounds like knative-dev should have read access to boskos projects, and there's a fresh repro here, which should have the latest instrumentation: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1295431194892046336

[2020-08-18 02:44] mattmoor commented on #214
Lot's of 503s this time 🤞

[code]

[2020-08-18 02:57] mattmoor commented on #214
The detailed logs show:

[code]

[2020-08-18 03:23] mattmoor commented on #214
As before, there is a lack of super detailed request logs for these, which is strange.

It looks like the Cluster handling requests immediately prior is `serving-tests/service--ab6395/80/da39a3ee5e`

When requests resume at `19:04:42.366` I see the Cluster: `serving-tests/service--c9f99b/80/da39a3ee5e`

We see the former Cluster removed here (in between):

[code]

So far, this seems very familiar.

[2020-08-18 03:53] mattmoor commented on #214
At `04:42.077` we see the following http proxy update:

[code]

[2020-08-18 04:11] mattmoor commented on #214
I see the same weird missing logs, and it looks like this run ran on the commit prior to my net-contout nightly changes landing at HEAD, so the logging leaves a bunch to be desired. 😞

The "generation: 2" label above does make me wonder there is some race where stale informer caches could lead to us not properly setting up the endpoints probe 🤔

[2020-08-18 04:16] mattmoor commented on #214
It also means we still have no endpoint probe diffs :shakes-fist:

[2020-08-18 04:27] mattmoor commented on #214
Basically what I'm wondering is this...

1. we get a `gen: 2` `kingress`
1a. we stamp out an endpoint probe `kingress` (gen: 1&2), which becomes ready.
1b. we stamp out http proxies at `gen: 2`
1c. informers sync the `gen: 2` http proxies

2. we get a `gen: 3` `kingress`
2a. we stamp out an endpoint probe `kingress` (gen: 2&3), which becomes ready.
2b. we stamp out http proxies as `gen: 3`
2c. OUT

[2020-08-18 04:34] mattmoor commented on #214
One of the things I have been wondering as I've been chasing this is whether it would make sense to adapt the way we formulate our endpoint probe `kingress` resources to use a strategy closer to what we do for HTTP Proxy resources.

Basically, each generation of `kingress` would formulate its own `kingress` endpoint probe independent of the probes of prior generations.  In the sequence above, drop

[2020-08-20 03:56] mattmoor commented on #214
The v1alpha1 equivalent test just flaked with a 503 here: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1296246488401186816

[2020-08-25 02:09] mattmoor opened #226 "Latest net-contour is struggling with some serving tests"
See: https://github.com/knative/serving/pull/9125

[2020-08-25 02:09] mattmoor commented on #226
I think the main change in this was the switch to Contour 1.7, though a few other changes have accumulated since.

[2020-08-28 14:14] mattmoor commented on #226
1.8 was just released: https://github.com/projectcontour/contour/releases/tag/v1.8.0

[2020-08-28 14:51] mattmoor commented on #188
@tcnghia do we have any broader guidance here around compatibility?

[2020-08-28 17:16] #203 closed

[2020-08-28 18:12] mattmoor commented on #226
Ok, new staged PR to repro the break: https://github.com/knative/serving/pull/9200

[2020-08-28 23:26] mattmoor commented on #226
I refactored scale test a bit to try and make debugging things a bit easier.

[2020-08-29 16:45] mattmoor commented on #226
After investigating this a bit, it looks like we are never able to successfully probe certain routes.  I haven't gone deeper into why yet.

I saw at least one instance where we failed-over mid probe due to chaos, and it looks like the failover took the full 15s for there to be a new lease holder (likely need the K8s patch for leaderelection).  For good measure, I'm trying scale-100 with chaos disa

[2020-08-29 16:46] mattmoor commented on #226
1.5: https://github.com/knative/serving/pull/9209
1.6: https://github.com/knative/serving/pull/9210
1.8: https://github.com/knative/serving/pull/9200

[2020-08-29 17:39] mattmoor commented on #226
Looks like it started in 1.5 :(

[2020-08-29 17:45] mattmoor commented on #226
Started a thread on this in Contour slack: https://kubernetes.slack.com/archives/C8XRH2R4J/p1598722245143600

[2020-08-29 20:03] mattmoor commented on #226
Looking at a failure with a bit more instrumentation...

I see the following probe failures immediately prior to things timing out:
[code]

I see this hostname first queued for probing ~90 seconds prior:
[code]

In the final wave of probes, these are the hosts+pod-ip that are still serving 404s, sorted:
[code]

It looks like the same 7 envoy pods for all 3 cluster-local hostnames are failing to pr

[2020-08-29 20:06] mattmoor commented on #226
It is notable that there are 12 total envoy pod ips to probe, which makes me wonder if maybe the contour instance these envoys are talking to is wedged or something?  I think the default configuration runs 2 contours (leader and read replicas), so I wonder if one is behind and serving bad configs?

[2020-08-29 20:06] mattmoor commented on #226
For grins, I'm going to try a run with it hardcoded to a single replica...

[2020-08-29 20:37] mattmoor commented on #226
The contour logs are just filled with:
[code]

Occasionally I see one of these as well:
[code]

[2020-08-30 17:09] mattmoor commented on #226
This now has status updates commented out: https://github.com/knative/serving/pull/9209
I'm running this to try and establish baseline latencies with 1.4 during scale-100: https://github.com/knative/serving/pull/9212
I have also started a `git bisect` of Contour 1.5 to try and narrow down an offending change: https://github.com/knative/serving/pull/9213

[2020-08-30 22:30] mattmoor commented on #226
So 1.8 with status updates disabled is >2x faster than where we are today at the tail of scale-100.  I've pushed a PoC change to https://github.com/knative/serving/pull/9214 that brings back status updates without the initial Get 🤞

[2020-09-01 05:28] mattmoor commented on #226
With some further instrumentation we found some additional bits of fun, and I reworked the short-term fix here: https://github.com/projectcontour/contour/pull/2864

Discussing this, I think we also got a handle on why these problems slow the DAG rebuilds and envoy updates: https://github.com/projectcontour/contour/issues/2857#issuecomment-684193224

[2020-09-02 04:17] mattmoor opened #237 "upstream connect error or disconnect/reset before headers"
See: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1300971558608572416

A 503 is served during "dispatch/percentage":

[code]

[2020-09-02 04:20] mattmoor commented on #237
Another one [here](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1300624270317064192) during "visibility/split":

[code]

[2020-09-02 04:20] mattmoor commented on #237
I'm wondering is this will help: https://github.com/knative-sandbox/net-contour/pull/232/commits/25362a16e040d8aac61cce4d6c73189326487b3d

[2020-09-02 04:26] mattmoor opened #238 "TestServiceWithTrafficSplit intermittently serves 404s"
Here is an example run: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1300776398222266368

The error:

[code]

[2020-09-02 04:27] mattmoor commented on #214
Another recent instance: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1300202742588903424

[2020-09-02 04:27] mattmoor commented on #238
Here's another (older) run: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1299719433362608129

[2020-09-02 04:39] mattmoor commented on #226
I'm pretty sure we have this sorted out and once @youngnick et al cut 1.8.1 (hopefully tomorrow?) I will update https://github.com/knative-sandbox/net-contour/pull/232 and it should close this out.

[2020-09-02 04:39] mattmoor commented on #226
/assign

[2020-09-03 13:35] mattmoor commented on #237
Doesn't look like it: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1301469716732186624

[code]

[2020-09-07 05:00] mattmoor commented on #238
A fresh one with 1.8.1: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1302769531302711296

[2020-09-07 18:20] mattmoor commented on #238
In the logstream for the failing test, I do not see any record that the tagged hosts were probed.

If I look for `Processing probe for http://latest` I get zero hits (for any of the tags), but if I do that against a run of this locally, I get tons.  We should check the complete logs (to confirm logstream), but we should see all of the following successfully probed BEFORE they are checked:

    uti

[2020-09-07 18:33] mattmoor commented on #238
Looking at the more complete logs, If I search for:
[code]

I find hits for the other instance of this test, but as soon as I add the suffix `-dutgotfe` there are zero hits, so we definitely didn't probe all of the hostnames.

[2020-09-07 21:57] mattmoor commented on #238
Alright, so I see this very odd status update from the Route controller:
[code]

This is odd because the conditions haven't changed.  I'd expect `Ready: Unknown` while we wait for updated `kingress` resources to reprogram and report their own readiness back to us.

Looking a bit deeper, it looks like we are reflecting this partial status update due to an error being returned from Reconcile:
[code]

[2020-09-08 02:17] mattmoor commented on #214
A recent instance on a PR: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/9325/pull-knative-serving-contour-latest/1303106753520472064

[2020-09-08 03:48] #238 closed

[2020-09-08 17:03] mattmoor commented on #237
Interestingly the message seems to have shifted from `reset reason: connection failure` to `reset reason: local reset`.

Here are three more from recent kingress conformance runs:
* https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1303357405307867136
* https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/13032213

[2020-09-08 17:27] mattmoor commented on #237
Digging into: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1303357405307867136

I see the following Envoy request log `503 LR`:

[code]

[2020-09-08 17:28] mattmoor commented on #237
From the Envoy docs:
[code]

[2020-09-08 17:34] mattmoor commented on #237
These seem to be the relevant sections of the debug log:
[code]

[2020-09-08 18:03] mattmoor commented on #237
Poking around the Envoy source a bit, these are the supported "RetryOn" values:
https://github.com/envoyproxy/envoy/blob/0c56dcfa23144213eb5f2b139c1401ab8ebc6793/source/common/http/headers.h#L261-L279

These are the values Istio defaults to, which `net-istio` copied and `net-contour` followed: https://github.com/istio/istio/blob/748c6209f606fb2276bdd4abaf277d4979d172bc/pilot/pkg/networking/core/v1

[2020-09-08 18:58] #237 closed

[2020-09-08 19:17] mattmoor commented on #214
Digging into the above, it looks like a rash of 503s:
[code]

[2020-09-08 19:20] mattmoor commented on #214
These were all served by the same Envoy pod:
[code]

[2020-09-08 19:23] mattmoor commented on #214
Drilling into the first instance:

[code]

We see `unknown cluster 'serving-tests/service--228bcc/80/da39a3ee5e'`

[2020-09-08 19:37] mattmoor commented on #214
Looking at the logs between the prior successful request and this "unknown cluster" message:
[code]

We see this notable snippet, which hints that the cluster was dropped around `23:23:39.184`:
[code]

We also see this later on where the cluster is brought back around `23:23:39.547`:
[code]

[2020-09-08 20:28] mattmoor commented on #214
Looking through the net-contour logs, I see:
 * `23:23:23.158Z` the `kingress` sees successful probe, deletes the endpoint probe and reports Ready.
 * `23:23:36.319Z` we see a new generation of kingress and find 4 httpproxy resources from the prior generation
 * `23:23:36.319Z` we identify `service-create-and-update-fjmlwgqz-9tl4s` and `service-create-and-update-fjmlwgqz-tjxjd` as the services in

[2020-09-08 21:22] mattmoor commented on #214
Continuing to slog through logs:
 * `23:23:38.682Z` the endpoint probe `kingress` has a successful probe!
 * `23:23:39.752Z` the endpoint probe `kingress` creates an HTTP Proxy 🤔
 * `23:23:39.753Z` the endpoint probe `kingress` is already Ready, so probing is skipped 🤦

So I think that my assessment here is probably about right, in terms of what happened: https://github.com/knative-sandbox/net-con

[2020-09-10 16:15] mattmoor opened #252 "dispatch/path* 503s"
The continuous build hit a few 503s in the "dispatch/path" test: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1304066901449641984

[code]

If I had to offer a guess this is because of our workaround for https://github.com/knative-sandbox/net-certmanager/issues/44

[2020-09-10 20:45] tcnghia commented on #252
We could add a field `CanIgnoreProbe` (or similar) to allow relaxation of the probing contract. The default behavior for unspecified is backward compatible (required probe), and when it is set impls can choose to do what they want?

One thing I am not sure is whether that would have unintended consequence with composition.

[2020-09-10 20:55] mattmoor commented on #252
The current elision of probes would have undesirable interactions with composition.  This workaround is to scope the elision to just http01 challenges by the Route controller until @ZhiminXiang can fix the issue.

[2020-09-14 14:26] mattmoor commented on #252
I suspect that the latest failure is this as well, since it touches path (dispatch/path_and_percentage): https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1305470955987931136

[2020-09-17 04:06] mattmoor opened #260 "Run conformance across all three supported versions"
See here for example: https://github.com/knative/serving/pull/9445

[2020-09-17 04:07] mattmoor commented on #214
I haven't seen this since the presumed fix landed 🎉

[2020-09-17 04:07] #214 closed

[2020-09-18 19:10] dprotaso commented on #134
solved using https://github.com/knative-sandbox/net-contour/pull/135

[2020-09-18 19:10] #134 closed

[2020-09-28 09:22] nak3 opened #275 "Ksvc does not become Ready when "previous" HTTProxy's service was garbage collected"
### Description

If Revision and service were cleaned up by GC before probing the endpoint, Ksvc never becomes Ready and prober keeps trying to probe forever.

### steps to reproduce

#### 0. Configure config-gc immediately collect any inactive revision

[code]

### 1. Create any Ksvc

e.g.

[code]

#### 2. Update ksvc "twice" immediately

(If you are lucky (=GC was faster than probe), you can pro

[2020-10-01 13:26] guacamole commented on #188
Hey @mattmoor , can i give it a shot?

[2020-10-01 14:07] dprotaso commented on #188
Awesome yeah!

/assign @guacamole

[2020-10-01 14:41] #275 closed

[2020-10-02 06:04] guacamole commented on #188
@dprotaso just wanted to make sure the repo to fork will be  projectcontour /contour and not  knative-sandbox /net-contour

[2020-10-02 06:10] guacamole commented on #188
@dprotaso Also, if i should remove the deprecation warning set by #2777 ?

[2020-10-05 15:29] dprotaso commented on #188
@guacamole hey - this issue is for setting the default in this repository since some installations could be running older contours where it defaults to TLS 1.1

[2020-10-05 15:30] dprotaso commented on #188
I'd reach out to the contour folks for any of the upstream work

[2020-10-09 22:59] mattmoor opened #308 "scale test flakes"
Three flakes today:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1314486816950194177
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1314607485239169025
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1314668010316763136

Note that Contour 1.9.0 landed yesterday (morning): https://g

[2020-10-22 14:05] arghya88 opened #326 "Ability to provide a default value for `TimeoutPolicy` via configMap"
Currently `TimeoutPolicy` is hardcoded to `infinity`. As an operator I should be able to specify a  default value which is not `infinity` in a configMap.

/kind feature-request

[2020-10-22 17:03] arghya88 commented on #326
/assign

[2020-10-23 19:50] stevesloka commented on #308
Hey @mattmoor, are you still seeing these failures in your tests? Just wanted to follow up on this.

[2020-10-23 20:22] mattmoor commented on #308
I would say that failure rates are higher than they were, but not as high as that initial burst.

Looking at the net-contour dashboard I see a couple failures in a recent run: https://testgrid.knative.dev/net-contour#continuous&exclude-non-failed-tests=100&sort-by-flakiness=100&width=20

[2020-10-24 14:04] #326 closed

[2020-10-26 11:40] johanbrandhorst opened #333 "CRDs specified twice in release contour.yaml"
Hi, thanks for this project! I tried applying it to my local testing cluster but it appears both `httpproxies.projectcontour.io` and `tlscertificatedelegations.projectcontour.io` is specified twice in the release `contour.yaml` files, which is resulting in an error when applied with kustomize:

[code]

[2020-10-26 11:55] johanbrandhorst commented on #333
There are other duplications as well:

[code]
[code]

[2020-10-26 11:58] johanbrandhorst opened #334 "Cut new release for Contour 1.9"
Contour 1.9 brought the first alpha of the new ExtensionService CRD. It'd be really nice to have a new release with this included!

Thanks!

[2020-10-27 21:24] mattmoor commented on #308
It is sorta back with a vengeance the last few days 😞

[2020-10-30 07:17] matzew opened #345 "Usage of RBAC:v1beta1"
Noticing usage of deprecated `RBAC:v1beta1` APIS:

[code]

* https://github.com/knative-sandbox/net-contour/blob/master/config/contour/external.yaml#L1
* https://github.com/knative-sandbox/net-contour/blob/master/config/contour/internal.yaml#L1

[2020-10-31 16:40] johanbrandhorst opened #347 "Ability to set custom fields on generate HTTPProxy specs"
Hi, great work on the project. I'm been playing around with it in my local cluster and I'm wondering if there is any way that I can configure the generated HTTPProxies? For example, to set an `ExtensionService` or to configure `CORS` settings for the proxy. Could this be exposed via the `config-contour` somehow?

[2020-11-14 18:38] johanbrandhorst opened #357 "Routing does not work in local deployment"
Hi, great project!

I've been trying to get this running in my local kubernetes environment (deployed using k3d and/or kind), but it appears there is something strange going on with `contour-external` and `contour-internal`. I don't know exactly why, but when using the latest release requests are simply not routed to the relevant `envoy` pod.

I can confirm that changing the `config-contour` to ro

[2020-11-19 14:53] mattmoor commented on #345
I think this was fixed in Contour 1.10

[2020-11-19 14:53] #345 closed

[2020-11-19 14:53] mattmoor commented on #334
0.19 should have 1.9, and HEAD has 1.10

[2020-11-19 14:53] #334 closed

[2020-11-19 14:54] mattmoor commented on #333
cc @dprotaso

I thought we did something here in `./hack/update-deps.sh` 🤔

[2020-11-19 14:55] mattmoor opened #364 "TestServiceWithTrafficSplit periodically fails with incorrect response"
Here's an example run: https://github.com/mattmoor/mink/runs/1422512832?#step:11:24
/kind bug

[2020-11-19 15:01] dprotaso commented on #333
It's the release scripts concatenating `contour-external` and `contour-internal`

[2020-11-19 15:24] mattmoor commented on #333
blah :(

[2020-11-30 16:01] #333 closed

[2020-12-02 21:23] n3wscott opened #372 "Use GOPATH hacks to codegen anywhere."
Please see https://github.com/knative/eventing/pull/4621 or https://github.com/knative/serving/pull/10245 for an example.

[2020-12-09 19:38] #372 closed

[2020-12-14 14:42] mattmoor commented on #252
/lifecycle frozen

[2020-12-16 04:31] jpeach opened #385 "Investigate whether contour-operator helps with deploying Contour"
The https://github.com/projectcontour/contour-operator repo has a Contour operator that can deploy instances of Contour in different configurations. It might be worth taking a look at whether this can be used for deploying Contour in a Knative configuration

[2020-12-16 04:31] jpeach commented on #385
cc @daneyon

[2020-12-17 04:46] #260 closed

[2020-12-21 23:08] mattmoor opened #389 "Update to 1.12"
https://github.com/projectcontour/contour/releases/tag/v1.11.0

[2021-01-04 16:37] mattmoor commented on #188
/lifecycle frozen

Ping @dprotaso

[2021-01-08 15:06] dprotaso commented on #188
Looks like we'll get this for free in contour 1.11
https://github.com/projectcontour/contour/issues/2777#issuecomment-756424691

[2021-01-08 15:07] dprotaso commented on #389
Fixes: https://github.com/knative-sandbox/net-contour/issues/188

[2021-01-12 14:50] mattmoor commented on #11
/lifecycle frozen
/reopen

[2021-01-28 16:07] dprotaso opened #409 "Consider renaming `contour-ingress-controller` to something else"
Our deployment name leads people to believe that contour is installed when it is not

https://github.com/knative-sandbox/net-contour/blob/7bff03576e1c01114d47c0fdc58dac74a98115db/config/controller.yaml#L16-L18

[2021-01-28 18:19] mattmoor commented on #389
I believe that Dave's update to 1.19 libs should unblock this.

[2021-01-29 22:21] mattmoor opened #410 "Elide endpoint probes when the set of services does not change"
A good example of this would be updating `traffic:` to change percentages (or @vagababov new gradual rollouts) where the set of services in `generation: X` and `generation: X+1` are identical.

We get the former from `oldGeneration` and the latter from `ing` here: https://github.com/knative-sandbox/net-contour/blob/7bff03576e1c01114d47c0fdc58dac74a98115db/pkg/reconciler/contour/contour.go#L119

Th

[2021-01-30 14:28] johanbrandhorst commented on #347
/remove-lifecycle stale

[2021-02-01 20:32] mattmoor commented on #389
hmm, nevermind we're still on 1.18 libs here 😞

[2021-02-01 20:37] mattmoor commented on #389
Related: https://github.com/knative-sandbox/net-contour/pull/412

[2021-02-02 18:28] mattmoor commented on #389
1.11 seems to have broken DomainMapping 😞

[2021-02-02 20:40] mattmoor commented on #389
Sounds like 1.12 is landing later today and seems to work w/ HEAD

[2021-02-03 02:16] #389 closed

[2021-02-11 17:06] dprotaso opened #423 "Probing always fails when HTTP fallback is disabled in config-network"
When HTTP fallback is disabled probing will set an `https` scheme and a port of `443`

https://github.com/knative-sandbox/net-contour/blob/50b263c04bb6ff46398f9a2baa06cd9f13cc0ba3/pkg/reconciler/contour/lister.go#L48-L52

Contour targets Pod IPs for probing which doesn't do TLS termination so the endpoints will never be ready.

[2021-02-13 12:39] johanbrandhorst commented on #357
/remove-lifecycle stale

[2021-02-16 21:09] dprotaso commented on #357
Do you have a list of steps that show how you setup your local kind cluster?

I've done this in a round about way - ie. by exposing ports of the node container to the host. I'm using docker for mac

so my kind config is

[code]

Our contour yaml's remove the `hostPort` on the envoy containers and I add that back

[code]

Then I patch the external envoy daemon set to have the toleration.

[code]

[2021-02-17 11:53] johanbrandhorst commented on #357
I didn't do any complicated set up like this, I just followed the installation instructions. I haven't tried it since I first reported this issue.

[2021-02-18 02:37] mattmoor commented on #364
/lifecycle frozen

[2021-02-19 16:36] mattmoor opened #433 "Take advantage of new PKG helper after release cut"
See: https://github.com/knative/pkg/pull/2032#issuecomment-782189445

[2021-02-26 01:40] #308 closed

[2021-03-01 10:08] nak3 commented on #385
We should start using operator now as it manages Gateway and GatewayClass on gateway API (Ingress v2).

https://projectcontour.io/guides/gateway-api/

[2021-03-02 07:18] nak3 commented on #385
Knative uses two separated ingress internal and external. And it seems there is no supported way to specify `--ingress-class-name` for operator.
Luckily https://github.com/projectcontour/contour-operator/issues/228 was opened just today.

[2021-03-13 17:02] #433 closed

[2021-03-15 22:45] evankanderson opened #456 "e2e Contour probing continues after resources are deleted"
From https://github.com/knative/serving/issues/10943

@shinigambit

# What version of Knative?
0.21

# Expected Behavior
Even after e2e tests timeout, probing for deleted resources stops

# Actual Behavior
After a timeout running the e2e tests, about every 30 seconds log output appears about the contour-ingress-controller failing probes for a service in the serving-tests namespace:
[code]

# Steps

[2021-03-15 22:46] evankanderson commented on #456
@shinigambit also reported:

[2021-03-15 22:46] evankanderson commented on #456
If you down the net-contour controller, does the error go away?

[2021-03-16 17:07] shinigambit commented on #456
I ended up recreating the cluster but I'm trying to reproduce the issue so I can add more specific steps to reproduce, then I'll be able to check if downing the net-countour controller helps

[2021-03-30 18:42] #188 closed

[2021-04-06 17:24] shinigambit commented on #456
tried running all the e2e tests and also the `TestRollbackBYOName` test with different timeouts on a new cluster configured to use contour but couldn't get the same problem to happen, I think this issue can be closed until it can be reproduced consistently

[2021-04-06 17:46] shinigambit commented on #456
/close

[2021-04-06 17:50] evankanderson commented on #456
/assign @shinigambit

[2021-04-06 17:50] evankanderson commented on #456
/close

[2021-04-06 17:50] #456 closed

[2021-04-21 16:26] xpepermint opened #481 "Doesn't work with common services"
Do I need a stand-alone Contour for serving common services or I can somehow use knative's configuration? Knative service routing works as expected but other services exposed through `Ingress` are ignored.

[2021-04-21 16:39] dprotaso commented on #481
Do you have an example of how you're exposing the other services?

[2021-04-21 16:41] xpepermint commented on #481
Here's a common sample deployment:

[code]

[2021-04-21 17:14] dprotaso commented on #481
I think your ingress needs to be annotated with the contour class

It looks like contour looks at the annotation or setting spec.ingressClassName
https://github.com/projectcontour/contour/blob/00119d7860397ac5653b0633e222aa4352039c7a/internal/validation/ingress/ingress_test.go#L30-L42

[2021-04-21 19:27] xpepermint commented on #481
The link looks promising, thanks, but unfortunately, I can't make it work.

[2021-05-01 11:56] johanbrandhorst commented on #347
/remove-lifecycle stale

[2021-05-11 08:36] senthilnathan opened #491 "HTTP Authorization"
We are using Knative with Contour and would like to add authorization to the http requests to the knative services. Contour already has some support for this: https://projectcontour.io/docs/main/config/client-authorization/. This needs to be supported and exposed through net-contour.

[2021-05-11 14:42] dprotaso commented on #491
This may be related to https://github.com/knative-sandbox/net-contour/issues/347 ?

[2021-05-11 14:49] dprotaso commented on #347
Hey sorry missed this - I think what would be the _best_ scenario is if net-contour could be good citizen with a cooperating webhook that can set these additional properties on create/update. I think now the controller would reconcile any changes away.

This sorta becomes a larger issue cause we'd want something like this in our controller framework so it would work across the board.

[2021-05-13 18:51] izabelacg opened #495 "contour ClusterRole clashes with existing contour resource when using kapp"
[ClusterRole contour](https://github.com/knative-sandbox/net-contour/blob/ab2f0166b5d80ae220dae1eec9572defe1884e28/config/contour/external.yaml#L1839) will clash with another Contour installation when using tools like `kapp`. Renaming it alongside with ClusterRoleBindings that reference it will prevent problems with existing non-namespaced resources.

[code]

[2021-05-14 13:28] dprotaso commented on #423
/lifecycle frozen

[2021-05-19 00:22] #495 closed

[2021-05-19 03:01] johanbrandhorst commented on #357
/remove-lifecycle stale

[2021-05-19 13:21] dprotaso commented on #357
Which instructions did you follow?  With KinD (on Mac) to hit the envoy pods you'll need the config I pointed out especially

[code]

With this you should be able to curl the Docker VM

[2021-05-19 13:49] dprotaso commented on #347
Made the tracking issue issue for this as a general problem.

If you have specific things you're looking to configure it may make sense to create separate issues.

ie. HTTP Auth - https://github.com/knative-sandbox/net-contour/issues/491

[2021-05-19 22:57] johanbrandhorst commented on #347
OK, makes sense!

[2021-05-19 22:57] #347 closed

[2021-05-20 13:34] dprotaso opened #504 "Ensure kind operator e2e test uses the same built images as our other tests"
Yeah, the separated line as below works with `ko` but now it hits contour-operator's issue https://github.com/projectcontour/contour-operator/issues/363

[code]

In short, contour-operator creates label from image tag, but `ko` command creates 64 length tag which exceeds labels length limiation.

_Originally posted by @nak3 in https://github.com/knative-sandbox/net-contour/issues/499#issuecomment-

[2021-05-20 13:37] dprotaso commented on #504
While our other kind e2e tests are build from source in our vendor folder the operator currently does not

[2021-05-20 14:03] dprotaso commented on #410
/lifecycle frozen

[2021-05-20 14:08] #385 closed

[2021-05-20 14:23] dprotaso commented on #481
Sorry for the delay - Knative's contour deployment actually changes the ingress class name.

You can pick from one of the following
1) `contour-external` - is accessible publicly (via your loadbalancer)
2) `contour-internal` - is accessible only within the cluster

So for external it would be

[code]

If this doesn't work feel free to re-open the issue/comment again

[2021-05-20 14:23] #481 closed

[2021-05-20 19:14] dprotaso commented on #409
/lifecycle frozen

there seems to be interest to be consistent with other `net-` implementations

https://knative.slack.com/archives/CA9RHBGJX/p1621519009001800

[2021-05-23 14:32] nak3 commented on #423
/assign

I will work on this.

[2021-05-27 19:29] dprotaso commented on #423
/unassign @nak3
/assign @kvmware

[2021-06-14 19:51] dprotaso commented on #357
@johanbrandhorst is this still an issue?

[2021-06-16 00:58] johanbrandhorst commented on #357
Hi, I haven't played around with this for a while, we can close this issue and I'll reopen it if I still encounter it when I next get the chance.

[2021-06-16 00:58] #357 closed

[2021-06-22 00:09] #409 closed

[2021-07-05 17:13] dprotaso opened #546 "Update Contour"
1.17 is due out soon (this week Jul'5th 2021) - we should update as we're on an older version now - 1.14

[2021-07-08 00:24] nak3 commented on #546
It's ready now https://github.com/projectcontour/contour/releases/tag/v1.17.0 :tada:

[2021-07-08 00:45] nak3 commented on #546
Ah, contour 1.15+ needs k8s.io lib 0.21+ so it causes dependency confliction

[2021-07-08 00:58] dprotaso commented on #546
I guess two options

1. we use require directives to pin to k8s 1.20 libs
2. we use k8s 1.21 libs

I believe this would be the case for just the 0.25 release - I believe 1.19 is EOL in August and we'll move to a new min 1.20 for 0.26

[2021-07-08 07:34] nak3 opened #549 "net-contour seems to use `--ingress-class-name` by unexpected way"
Knative deploys two Contour, `contour-external` & `contour-internal`, and uses `--ingress-class-name` for each Contour.

(non-operator)
https://github.com/knative-sandbox/net-contour/blob/076d698183c3194e02aba4e8233adf9a6d1b4fdc/config/contour/external.yaml#L2048

(operator)
https://github.com/knative-sandbox/net-contour/blob/076d698183c3194e02aba4e8233adf9a6d1b4fdc/config/contour-operator/gateway

[2021-07-08 07:37] nak3 commented on #549
We can workaround the issue by creating a dummy IngressClass like:

[code]

However, we should ask upstream to drop the validation or change the current net-contour structure.

[2021-07-12 14:08] xtreme-sameer-vohra commented on #546
Related - https://github.com/knative-sandbox/net-contour/issues/549

[2021-07-21 06:52] nak3 commented on #504
This should be able to fix by Contour 1.16 https://github.com/projectcontour/contour-operator/commit/f19b8b6333dd70b324e0d997ed7ba3c320c9be8c

[2021-07-23 13:01] dprotaso commented on #546
1.17.1 is out because of a CVE

https://twitter.com/projectcontour/status/1418466613251162112

[2021-08-02 04:21] nak3 commented on #549
This was fixed by contour v1.18.

[2021-08-02 04:21] #549 closed

[2021-08-26 16:57] xtreme-sameer-vohra opened #588 "Patch released net-contour versions to use Contour v1.14.2"
# Description
Contour released a [patch v1.14.2](https://github.com/projectcontour/contour/releases/tag/v1.14.2) with mitigation for a CVE

This should be back ported to the release versions like these PRs are attempting ( #564 , #565 , #566  and #567 )

[2021-08-28 00:30] dprotaso commented on #588
This should be done - thanks @kvmware

[2021-08-28 00:30] #588 closed

[2021-08-31 15:28] kvmware commented on #546
To update to 1.18.1, `enableExternalNameService` is set to `true` and I have disabled the operator from the e2e tests as they don't have a option to configure `enableExternalNameService` yet. I opened an issue for that here https://github.com/projectcontour/contour-operator/issues/437

[2021-08-31 16:07] dprotaso commented on #546
PR merged

[2021-08-31 16:07] #546 closed

[2021-09-03 14:15] dprotaso opened #605 "Failed to create Knative Service"
net-contour get's into a weird state when I try to create a service with a single character name

[code]

The logs show

[code]

It seems like it should actually be valid based on the regex - https://regex101.com/r/KiCvWq/1

Either way since we can't create the HTTPProxy we should probably set `Ready=False` on the Ingress to bubble this up that the Service failed

[2021-09-09 14:13] dprotaso commented on #423
Note this issue changes slightly when https://github.com/knative-sandbox/net-contour/pull/610 lands

Since we'll want to configure the spec.HTTPOption now

[2021-09-10 13:18] dprotaso commented on #491
/remove-lifecycle stale

[2021-09-21 18:12] senthilnathan commented on #491
@dprotaso, I would like to help towards implementing this.  Any pointers to get started will help.
Do we need to complete https://github.com/knative/pkg/issues/2128 first for this issue?

[2021-09-23 19:28] kvmware commented on #423
When using `kubectl apply -f https://github.com/knative/net-contour/releases/download/v0.25.0/contour.yaml` and `kubectl apply -f https://github.com/knative/net-contour/releases/download/v0.25.0/net-contour.yaml` a service is created `kn service create hello --image gcr.io/knative-samples/helloworld-go --port 8080 --env TARGET=New_World --revision-name=new_world` which results in:

**`$ kubectl ge

[2021-09-27 09:31] nak3 commented on #423
Yes, I believe https://github.com/knative-sandbox/net-contour/pull/610 solved this issue as well. @kvmware Thank you for the confirmation. And I'm sorry if you wanted to tackle this issue :cold_sweat:

[2021-09-27 12:34] dprotaso commented on #423
/close

On Mon, Sep 27, 2021 at 05:31 Kenjiro Nakayama ***@***.***>
wrote:

[2021-09-27 12:34] #423 closed

[2021-10-05 15:48] dprotaso opened #630 "Bump to v1.18.2"
There's a performance improvement that we should pick up

https://github.com/projectcontour/contour/releases/tag/v1.18.2

/assign @carlisia

We should also `/cherry-pick release-0.26`  this change back to our `release-0.26` branch

[2021-10-05 15:58] dprotaso opened #631 "Add resource requests/limits to our contour envoy daemonsets"
It looks like our networking conformance tests have been pretty flakey
https://testgrid.k8s.io/r/knative-own-testgrid/net-contour#continuous

Running some tests locally I see the envoy containers restarting around the time 503 errors occur

Note: envoy returns the following status codes

503/unknown cluster => there's no backing endpoints ([link](https://github.com/envoyproxy/envoy/blob/5b1015cffb

[2021-10-05 15:59] dprotaso commented on #631
/assign @carlisia

[2021-10-12 23:21] #630 closed

[2021-10-13 18:21] carlisia commented on #631
Working on this...

[2021-10-13 21:42] carlisia opened #638 "Make scripts/library.sh work for Bash v4+"
Some bash scripts in this repo have `#!/bin/bash` at the top of the file. They need to have `#!/usr/bin/env bash` so it will pick up updated versions of bash on MacOS.

It should have no other side effect.

For context: for virtually any knative script to be run, the bash version needs to be v4+. See https://github.com/knative/test-infra/issues/2143 for background.

[2021-10-13 21:42] carlisia commented on #638
/assign carlisia

[2021-10-26 17:18] xtreme-sameer-vohra opened #648 "Bump to latest Contour 1.19.x"
Latest release at the moment is [Contour v1.19.1](https://github.com/projectcontour/contour/releases/tag/v1.19.1)

[2021-11-02 02:08] dprotaso opened #656 "Fail fast KIngress if Contour's target is not supported (ie. K8s ExternalName Services)"
Ideally the DomainMapping would report `Ready=False`.

Which I believe is something we might be able to do within net-contour - but ideally in a separate PR

_Originally posted by @dprotaso in https://github.com/knative-sandbox/net-contour/pull/582#discussion_r739344966_

[2021-11-02 02:11] dprotaso commented on #656
This might already fail fast 'enough' but it might not bubble up an actionable error message.

[2021-11-02 02:33] #631 closed

[2021-11-15 18:31] carlisia commented on #648
Will do this today.

[2021-12-03 14:38] dprotaso commented on #605
/lifecycle frozen

[2021-12-14 18:55] carlisia commented on #648
Update: contour v1.18.3 is where the upgrade to k8s v0.22.0 libraries happened (see Commits on Aug 18, 2021 https://github.com/projectcontour/contour/compare/v1.18.3...main).

I tried upgrading contour + pinning the k8s version to net-contour's current v0.21.4 but it didn't work, because the client-go library was also upgraded to v0.22.0 and there was incompatibilities when running conformance tes

[2022-01-04 20:25] carlisia commented on #648
We are now compatible with [k8s 1.22](https://github.com/knative/pkg/pull/2327) and Contour is at [v1.19.1](https://github.com/projectcontour/contour/releases/tag/v1.19.1).

I'll update it to that.

[2022-01-05 20:50] carlisia opened #696 "Updating the default TLS secret is not triggering a reconcile"
It seems that updates to https://github.com/knative-sandbox/net-contour/blob/1c4f361c24f0b727527249501f73399e43e2e9ff/config/config-contour.yaml#L44 are not triggering a reconcile

## Steps to Reproduce the Problem

Update the `default-tls-secret` property in the `config-contour.yaml` to anything. The change will likely not take effect.

[2022-01-05 20:51] carlisia commented on #696
/assign @carlisia

[2022-01-11 21:56] dprotaso opened #699 "TestIngressConformance/visibility/split is flakey"
https://testgrid.k8s.io/r/knative-own-testgrid/net-contour#continuous&exclude-non-failed-tests=10

[2022-01-11 22:22] #648 closed

[2022-01-13 10:50] evankanderson opened #703 "Support knative-internal-tls in net-contour"
Larger description in the [Feature Track document](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#heading=h.n8a530nnrb)

# Summary:

Contour should support calling activator / backends with a known CA key and subject name (provided by the cluster administrator in `config-network` for the All Hops Encrypted alpha).

Expected

[2022-01-13 18:43] #504 closed

[2022-01-20 12:13] dprotaso commented on #699
Should be resolved with https://github.com/knative/networking/pull/605

[2022-01-20 12:13] #699 closed

[2022-01-21 07:34] evankanderson opened #712 "net-contour fails to reconcile if only the HTTP contour port is available"
Debugged this with a user today. The following setup suffices:

1. Shared TLS certificate in `contour-external/shared-wildcard` Secret. I used [cert-manager](https://cert-manager.io/docs/) to do this, but you could use OpenSSL or anything else. I don't think the actual CN/DNS name matters.
2. `kubectl patch -n knative-serving configmap config-contour --type merge --patch '{"data": {"default-tls-se

[2022-01-21 07:34] evankanderson commented on #712
/assign

[2022-01-24 18:08] #712 closed

[2022-01-28 18:10] carlisia commented on #696
I could not reproduce this. Closing the issue.

[2022-01-28 18:10] #696 closed

[2022-01-28 21:18] carlisia opened #716 "Validate _examples block on contour config"
Same as [Validate _examples block and warn the user if they changed it seemingly by accident. by markusthoemmes · Pull Request #8123 · knative/serving](https://github.com/knative/serving/pull/8123).

[2022-01-31 18:08] carlisia opened #718 "Bump Contour version to v1.20.0"
[Release Contour v1.20.0 · projectcontour/contour](https://github.com/projectcontour/contour/releases/tag/v1.20.0)

[2022-02-15 02:05] carlisia opened #725 "Upgrade to sigs.k8s.io/yaml v1.4"
Blocker: https://github.com/kubernetes-sigs/yaml/pull/61

[2022-03-03 01:30] #656 closed

[2022-03-23 00:36] #718 closed

[2022-04-13 03:58] BobyMCbobs opened #753 "Add IngressClass for contour-external"
To ensure the regular ingress/v1 use of the Contour Ingress controller installed, it would be nice to include an IngressClass.

One requirement is that the Ingress controller (`spec.controller`) must be a domain-prefixed path (such as "acme.io/foo" or "k8s.io/nginx"). So `contour-external` might need to become something like "knative.dev/contour-external" or "projectcontour.io/external" to conform

[2022-04-14 16:48] evankanderson commented on #703
/remove-lifecycle stale

[2022-05-25 15:12] dprotaso opened #766 "Bump Contour to to 1.21"
1.21 came out two weeks ago - https://github.com/projectcontour/contour/releases

/assign @carlisia

[2022-06-10 04:06] carlisia commented on #725
/remove-lifecycle stale

[2022-07-14 01:35] #716 closed

[2022-07-19 18:29] carlisia opened #784 "Kubernetes labels not being added to release artifact"
For some reason, when generating a release artifact, net-contour is including the k8s labels under `spec.template.metadata.labels`:

[code]
Compare that with what net-kourier (corrrectly) generates:

[code]

The fix is probably going to be around this line:
https://github.com/knative-sandbox/net-contour/blob/023772c9c2ed7fae5ac4e47a097a78f76b356744/hack/release.sh#L40

/bug
/good-first-issue

[2022-07-19 18:50] carlisia commented on #784
/kind/bug

[2022-07-20 07:41] megumish opened #785 "Resource is not created when the name of the generated HTTPProxy ends with `. `."
https://github.com/knative-sandbox/net-contour/blob/023772c9c2ed7fae5ac4e47a097a78f76b356744/pkg/reconciler/contour/resources/httpproxy.go#L259

The name of the HTTPProxy is generated here, but kmeta's ChildName() function only takes it into account when the terminator is `-`.

Some hostnames may generate names terminated with `. ` is generated(e.g. `examplefu-external-contour-<hash>examplefu.`) ,

[2022-08-02 13:51] xtreme-sameer-vohra commented on #766
Addressed by https://github.com/knative-sandbox/net-contour/pull/735

[2022-08-02 13:53] xtreme-sameer-vohra opened #794 "Bump to Contour 1.22 which is tested by upstream for K8s 1.24"
Release - https://github.com/projectcontour/contour/releases/tag/v1.22.0
Matrix - https://projectcontour.io/resources/compatibility-matrix/

[2022-08-02 13:53] xtreme-sameer-vohra commented on #794
cc @carlisia

[2022-08-02 13:58] #766 closed

[2022-08-02 15:13] dprotaso commented on #794
/assign @dprotaso

[2022-08-02 23:35] #794 closed

[2022-08-15 21:48] BobyMCbobs commented on #753
/reopen

[2022-08-15 21:48] BobyMCbobs commented on #753
/remove-lifecycle stale

[2022-08-22 12:08] erltho opened #805 "var substitution failed for 'tlscertificatedelegations.projectcontour.io'"
# Issue

We are trying to install https://github.com/knative/net-contour/releases/download/knative-v1.3.0/contour.yaml when we get following error:

[code]

## System

We use fluxCD to kustomize and apply all our k8s/knative config.

`flux check` gives:

[code]

If we manually apply the configuration with `k apply -f https://github.com/knative/net-contour/releases/download/knative-v1.3.0/contour.y

[2022-10-10 01:35] #725 closed

[2022-10-31 14:12] dprotaso commented on #805
Seems like FluxCD or kustomize is mangling something and it's worth opening and issue with those tools.

[2022-10-31 14:12] #805 closed